= form_for @message do |f|
	= render 'shared/error_messages', :object => f.object
	.field
		= f.label :urgency
		%br
		= f.radio_button :urgency, 1
		= f.radio_button :urgency, 2
		= f.radio_button :urgency, 3
		= f.radio_button :urgency, 4
	.field
		= f.label :content
		%br
		= f.text_field :content
	.actions
		= f.submit "Send Message"