- if message.sender.reliable_to current_user
	.message
		.avatar
			= gravatar_for message.sender
		.message_content
			.row
				.sender
					%span.message_user_alias
						= link_to message.sender.alias, message.sender
					%span.message_user_name
						= message.sender.name
			.row
				.urgency
					= display_urgency message
					%span.disagree
						= "-"
						= link_to 'disagree', message, :action => 'disagree'
			.row
				.content
					= wrap(message.content)
			.row
				.message_timestamp
					= "#{time_ago_in_words(message.created_at)} ago."
					-if current_user?(message.recipient)
						= link_to "delete", message, :method => "delete",
													 :confirm => "You sure?",
													 :title => message.content