.message
	.avatar
		= gravatar_for message.sender
	.message_content
		.row
			.sender
				%span.message_user_alias
					= link_to alias_for( message.sender ), message.sender
				%span.message_user_name
					= message.sender.name
		.row
			.urgency
				= display_urgency message
				%span.agreement
					= "-"
					- if message.disagree.nil?
						= agree_link message
						|
						= disagree_link message
					- elsif message.disagree
						= agree_link message
					- else
						= disagree_link message
		.row
			.content
				= wrap(message.content)
		.row
			.message_timestamp
				= "#{time_ago_in_words(message.created_at)} ago."
				-if current_user?(message.recipient)
					= link_to "delete", message, :method => "delete",
												 :confirm => "You sure?",
												 :title => message.content