.user
	.avatar
		= gravatar_for user
	.user_information
		.row
			%span.message_user_alias
				= link_to alias_for(user), user
			%span.message_user_name
				= user.name
		.row
			= show_reliability_for user
			- if current_user.admin?
				| 
				= link_to "delete", user, :method => :delete, :confirm => "You sure?", 
									  :title => "Delete #{user.name}"
	.allow
		= allow_box_for user
	.block
		= block_box_for user