.profile
	.avatar
		= gravatar_for @user, :size => 128
	.profile_content
		%span.profile_name= @user.name
		%br
		%span.profile_alias= @user.alias
		- unless @user == current_user
			%br
			= show_reliability_for @user

#sidebar
	%strong Alias
	= @user.alias
	%br
	%strong Name 
	= @user.name
	%br
	%strong Email
	= @user.email
	%br
	%strong URL
	= link_to user_path(@user), @user
.profile_feed
	%hr
	- if @user == current_user
		%h2= "#{current_user.received_messages.count} Received Messages:"
		.messages
			= render current_user.received_messages
	- else
		%h2= "#{current_user.messages_from(@user).count} Messages to you:"
		.messages
			- if @user.reliable_to current_user
				= render current_user.messages_from(@user)
			- else
				%span.unreliable Messages Hidden
				