.profile
	%h1
		= gravatar_for @user
		= @user.name
#sidebar
	%strong Alias
	= @user.alias
	%br
	%strong Name 
	= @user.name
	%br
	%strong Email
	= @user.email
	%br
	%strong URL
	= link_to user_path(@user), @user
%hr
- if @user == current_user
	.messages
		%h2 Received Messages
		= render current_user.received_messages
- else
	%h2 Messages to you:
	.messages
		= render current_user.messages_from(@user)