- unless user_signed_in?
	#sign_in
		= link_to 'Sign in with Google', user_omniauth_authorize_path(:open_id, :openid_url => "https://www.google.com/accounts/o8/id")
		= '--'
		= link_to "Sign in", new_user_session_path
- else
	#sign_out
		%strong
			= busy_link
			= '--'
			= link_to 'Sign out: ' + current_alias, destroy_user_session_path