!!!
%html
	%head
		%title= title
		= render 'layouts/stylesheets'
		= javascript_include_tag :defaults
		= csrf_meta_tag
		= render 'layouts/meta'
%body
	= render 'layouts/header'
	= render 'layouts/marketing'
	= render 'layouts/subnav'
	.main
		.container
			%section#content
				.flash
					= render 'shared/flashes'
				= yield
	= render 'layouts/footer'