.account
	.account_information
		.row
			%span.account_name= account.username
		.row
			%span.account_notification_information
				- unless account.notification_service.nil?
					= form_for account do |f|
						= render 'shared/error_messages', :object => f.object
						.field
							= f.collection_select( :notification_service_id, account.user.notification_services, :id, :description)
				- else
					= link_to '( Add Notification Service )', edit_account_path(account)
		.row
			= activate_box_for account
			= reply_box_for account
			= link_to '( Delete )', account, :method => :delete, 
				:class => "delete_item"
